.odd {
  background-color: #ffc9c9;
  font-family: Verdana, "Roboto Condensed", sans-serif;
}

#div-1 {
  color: #339af0;
  font-size: 36px;
}
.third {
  font-size: 24px;
}
#div-4 {
  background-color: #d3f9d8;
  font-weight: bold;
}
